/* reset/normalizer by https://piccalil.li/blog/a-modern-css-reset/ */
:root {
  --main-color: rgb(255, 255, 255);
  --second-color: black;
  --main-font: "Helvetica Neue", "Arial", sans-serif;
  --grey: rgb(0, 0, 0, 0.3);
  --font-size: 16px;
  --padding: 1.5em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  cursor: default;
}

code {
  cursor: text;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
  list-style: none;
  padding-inline-start: 0px;
  pointer-events: auto;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.25;
  padding: var(--padding);
  font-family: var(--main-font);
  background-color: var(--main-color);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a,
label,
button,
input[type="radio"],
input[type="submit"],
input[type="checkbox"] {
  cursor: pointer;
  pointer-events: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1 {
  line-height: 1;
}

a,
a:visited {
  color: var(--second-color);
}

a:hover {
  color: var(--main-color);
  background-color: var(--second-color);
}

.main-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  pointer-events: none;
}

header {
  font-size: 1.25em;
}
#header-date {
  display: none;
}

.modals {
  display: none;
  pointer-events: auto;
}

.modals button {
  background: var(--main-color);
  color: var(--second-color);
  padding: 0 0.6em;
  border: 2px black solid;
  border-radius: 10px;
  /* height: 40px; */
}

.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--padding);
}

/* ABOUT */
.about {
  /* height: calc(100vh - 4.5em); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2 1 0px;
  /* background-color: white; */
}

.about *,
.week-title *,
.work-description * {
  filter: brightness(100) contrast(142);
}

.introduction {
  margin-bottom: var(--padding);
}

.introduction a {
  background-color: var(--second-color);
  color: var(--main-color);
  text-decoration: none;
}

.introduction a:hover {
  background-color: var(--main-color);
  color: var(--second-color);
  text-decoration: underline;
}

.artists a {
  margin-right: 0.25em;
}

#sponsors {
  color: var(--grey);
}

footer {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

address {
  font-style: normal;
}

/* WORKS */
.svg-week {
  position: absolute;
}

.week-info {
  margin-top: calc(0.5 * var(--padding));
}

.week-date {
  display: flex;
  flex-direction: column;
}

/* old listing */
/* li:before {
  content: "";
  display: block;
  height: 1px;
  background: rgb(0, 0, 0, 0.2);
  margin-bottom: 0.2em;
  margin-top: 0.2em;
} */

li {
  display: block;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border-top: rgb(0, 0, 0, 0.2) 1px solid;
}

.work-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--padding);
}

.work-header:hover {
  cursor: pointer;
  pointer-events: auto;
}

.svg-week {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.work-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: calc(var(--padding) / 2);
  margin-bottom: var(--padding);
  gap: var(--padding);
}

.work-content figure {
  /* width: 100%;
  height: 250px; */
  /* background-color: var(--second-color); */
  border-radius: 4px;
}

img {
  display: block;
  width: auto;
  height: auto;
}

.work-meta {
  font-style: italic;
  font-size: 0.85em;
}

.work-text,
.work-meta {
  margin-bottom: calc(var(--padding) / 2);
}

.work-url a {
  color: var(--grey);
}
.work-url a:hover {
  background-color: var(--grey);
  color: white;
}

@media only screen and (min-width: 1600px) {
  body {
    font-size: 20px;
  }
  .svg-week {
    stroke-width: 3;
  }
}

@media only screen and (min-width: 801px) {
  .main-container {
    margin-top: var(--padding);
  }
  #header-title {
    display: inline-block;
    transform: scaleX(6);
    transform-origin: 0 0;
  }
  #about-container main {
    position: fixed;
    width: calc(50vw - 2 * var(--padding));
  }
  .about {
    height: calc(100vh - 4.5em);
  }
  .introduction,
  footer {
    font-size: 1.3em;
  }
  footer {
    position: fixed;
    bottom: var(--padding);
  }
  .week {
    margin-bottom: calc(1.5 * var(--padding));
  }
  #week3 {
    margin-bottom: 0;
  }
  .svg-week {
    width: 48%;
  }
  .work-list {
    pointer-events: none;
  }
  .work-list li {
    pointer-events: auto;
  }
  .work-list:hover li {
    opacity: 0.2;
    transition: 0.3s;
  }
  .work-list:hover li:hover {
    opacity: 1;
    transition: 0.3s;
  }
  .work-text {
    min-height: 140px;
  }
}

@media only screen and (max-width: 1100px) {
  .work-content {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --padding: 1em;
  }
  .main-container {
    grid-template-columns: 1fr;
  }
  header {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    height: calc(2 * var(--padding));
  }
  #header-date {
    display: inline-block;
  }
  .main-nav {
    position: fixed;
    z-index: 9;
    width: calc(100% - 2 * var(--padding));
    top: var(--padding);
    height: calc(2 * var(--padding));
  }
  header h3 {
    position: relative;
  }
  .about {
    order: 2;
    margin-top: 1.5em;
  }
  .about main {
    margin-bottom: calc(2 * var(--padding));
  }
  .modals {
    display: flex;
    margin-left: auto;
  }

  .week-title {
    position: sticky;
    top: 0;
    width: 80%;
    /* z-index: 9; */
  }
  .work-content {
    grid-template-columns: 1fr;
  }
  .svg-week {
    position: relative;
    top: 1.5em;
    /* width: calc(100% - var(--padding)); */
  }
}

/* GENERAL */
.hide {
  display: none;
}

.extra-margin {
  margin-top: 50px;
}

.lazyload {
  opacity: 0;
}

.lazyloading {
  opacity: 1;
  transition: opacity 300ms;
  background: #f7f7f7 url(/img/loader.gif) no-repeat center;
}
